<div class="container mt-5">
  <h2>Demander la réinitialisation du mot de passe</h2>
  <form (ngSubmit)="submitForm()" class="mb-3">
    <div class="mb-3">
      <label for="email" class="form-label">Adresse e-mail:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    <a routerLink="/reset-password" class="btn btn-link">Réinitialiser le mot de passe</a>
  </form>
</div>
