<form class="container mt-5" (ngSubmit)="inscription()" #inscriptionForm="ngForm">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom:</label>
    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <div class="mb-3">
    <label for="motDePasse" class="form-label">Mot de passe:</label>
    <input type="password" class="form-control" id="motDePasse" name="motDePasse" [(ngModel)]="motDePasse" required>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image:</label>
    <input type="file" class="form-control" id="image" name="image" (change)="onFileSelected($event)" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="inscriptionForm.invalid">Inscription</button>
  <div class="mt-3">
    <p>Déjà inscrit ? <a routerLink="/connexion">Connectez-vous</a></p>
    <p><a routerLink="/forgot-password">Mot de passe oublié ?</a></p>
  </div>
</form>
