<div class="container mt-5">
  <h2>Réinitialiser le mot de passe</h2>
  <form (ngSubmit)="submitResetPasswordForm()" class="mb-3">
    <div class="mb-3">
      <label for="token" class="form-label">Token de réinitialisation:</label>
      <input type="text" id="token" name="token" [(ngModel)]="token" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">Nouveau mot de passe:</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
  </form>
  <p>
    <a routerLink="/connexion">Retourner à la page de connexion</a>
  </p>
</div>
