<div *ngIf="user" class="container mt-5">
  <h2>Informations de l'utilisateur</h2>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Nom: {{ user.nom }}</p>
      <p class="card-text">Email: {{ user.email }}</p>
      <!-- Ajoutez d'autres informations de l'utilisateur si nécessaire -->
    </div>
  </div>
</div>
