form {
  max-width: 400px;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}




.toast-text {
  font-family: Arial, sans-serif; 
  font-size: 16px;
  color: #333;
}


.toast-title {
  font-weight: bold;
  font-size: 18px; 
  color: #4CAF50; 
}


.toast-top {
  top: 0;
}



/* Styles pour le toast personnalisé */
.custom-toast {
  background-color: #4CAF50; /* Couleur de fond du toast */
  color: #fff; /* Couleur du texte */
  border-radius: 8px; /* Rayon de bordure */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre de boîte */
}

/* Styles pour le titre du toast */
.toast-title {
  font-weight: bold; /* Texte en gras */
  font-size: 18px; /* Taille de la police */
}

/* Styles pour le message du toast */
.toast-message {
  font-size: 16px; /* Taille de la police */
  padding: 10px; /* Espacement intérieur */
}


