<form class="container mt-5" (ngSubmit)="connexion()" #connexionForm="ngForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
  </div>
  <div class="mb-3">
    <label for="motDePasse" class="form-label">Mot de passe:</label>
    <input type="password" class="form-control" id="motDePasse" name="motDePasse" [(ngModel)]="motDePasse" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="connexionForm.invalid">Connexion</button>

  <div class="mt-3">
    <p>Pas encore inscrit ? <a routerLink="/inscription">Inscrivez-vous</a></p>
    <p><a routerLink="/forgot-password">Mot de passe oublié ?</a></p>
  </div>
</form>


<ng-template #toastTemplate>
  <div class="toast-text">Bienvenue, {{ user.nom }} ({{ user.email }})</div>
</ng-template>

