<form (ngSubmit)="createAccount()">
  <input type="text" placeholder="Nom d'utilisateur" [(ngModel)]="username" name="username">
  <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
  <input type="password" placeholder="Mot de passe" [(ngModel)]="password" name="password">
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
  <button type="submit">Créer un compte</button>
</form>
 <h1>Frontend</h1>
    <button (click)="testConnection()">Test Connection</button>
    <div *ngIf="message">{{ message }}</div>