/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/* styles.css */

/* Styles pour le toast personnalisé */
.custom-toast {
  background-color: #4CAF50; /* Couleur de fond du toast */
  color: #fff; /* Couleur du texte */
  border-radius: 8px; /* Rayon de bordure */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre de boîte */
}

/* Styles pour le titre du toast */
.toast-title {
  font-weight: bold; /* Texte en gras */
  font-size: 18px; /* Taille de la police */
}

/* Styles pour le message du toast */
.toast-message {
  font-size: 16px; /* Taille de la police */
  padding: 10px; /* Espacement intérieur */
}
